{% load static %}
<!doctype html>
<html>
<head>
    <title>Django Site {% block head_title %}{% endblock head_title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    {% include "base/css.html" %}
</head>
<body>
    {% include "base/navbar.html" %}

    <main role="main">

        {% block main_contents %}{% endblock main_contents %}

    </main>

    {% include "base/footer.html" %}
    {% include "base/js.html" %}
</body>
</html>
